<h3>Veja suas contas</h3>
<div>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="origem">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Origem </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.origem}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="data">
        <mat-header-cell *matHeaderCellDef mat-sort-header> data </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.data | date:'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="valorTotal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> total </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.valorTotal | currency:'R$ '}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="isMensal">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Fixo? </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.isMensal | simNao}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="FormaPagamento">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Forma de pagamento </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.formaPagamento}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Excluir">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element"><a href="#" title="Excluir conta id:{{element.id}}"><mat-icon class="icon-clear" color="warn" (click)="excluirConta(element)">clear</mat-icon></a></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <div class="btn-conta-container">
      <mat-checkbox matInput class="checkbox-central" (change)="aplicarFiltroData($event)">Buscar outro período</mat-checkbox>
      <button mat-raised-button color="primary"><mat-icon class="icon-add">add</mat-icon>Filtrar por categorias</button>
      <button mat-raised-button color="primary"><mat-icon class="icon-add">add</mat-icon>Filtro por conta fixa</button>
    </div>
    <mat-paginator paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true">
  </mat-paginator>
  </div>
  <app-nova-conta></app-nova-conta>
</div>
