<h3>Itens comprados em {{ data.origem }} na data de {{ data.data | date:'dd/MM/yyyy' }}</h3>
<div>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="Nome">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Desc">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.desc}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Categoria">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.categoria}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="ValorUnitario">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.valorUnitario}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Qtd">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Quantidade</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.qtd}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Necessario">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Necessário?</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.isNecessario | simNao }}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true">
  </mat-paginator>
  </div>
</div>
