/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.main_container{width: 90%; margin: auto; margin-top: 10px;}
.btn-container {
  margin: 20px 0;
}
mat-header-row{background: #7cf; border-radius: 5px 5px 0 0;}
mat-table mat-row:nth-child(even) {background: #FFF}
mat-table mat-row:nth-child(odd) {background: #BBB}
h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 20px;
}

.form-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 2px 8px -3px rgba(0,0,0,0.24);
}

.form-flex .form-flex-item {
  flex: 0 auto;
		/*flex-grow: 0;Ocupa o resto da largura da div*/
		/*flex-shrink: 1;/*encolhe a nossa div*/
		/*flex-basis: 65px;/*define um width de cada elemento caso não tenh*/
		max-width: 200px;
		margin: 10px;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-row > button {
  font-size: 10px;
}

